<div id="top" class="nav-bar">
    <a href="">
        <button mat-flat-button>MeowMosaic</button>
    </a>
</div>
<div id="content">
    <router-outlet></router-outlet>
</div>
<div id="bottom" class="nav-bar">
    <a routerLink="" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">feed</mat-icon>
    </a>
    <a  routerLink="" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">add</mat-icon>
    </a>
    <a routerLink="" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">person</mat-icon>
    </a>
    <a routerLink="" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">logout</mat-icon>
    </a>
</div>