<div id="top" class="nav-bar">
    <a href="">
        <button mat-flat-button>MeowMosaic</button>
    </a>
</div>
<div id="main-page-outlet">
    <router-outlet></router-outlet>
</div>
<div id="bottom" class="nav-bar">
    <a routerLink="/feed" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">feed</mat-icon>
    </a>
    <a  (click)="openPostCreator()" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">add</mat-icon>
    </a>
    <a routerLink="/profile/acct-info" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">person</mat-icon>
    </a>
    <button (click)="openLogin()" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">login</mat-icon>
    </button>
    <button (click)="logout()" mat-flat-button>
        <mat-icon style="margin: 0; padding: 0;">logout</mat-icon>
    </button>
</div>