@use '@angular/material' as mat;
@use './theme.scss' as mm-theme;

@include mat.core();

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@mixin nav-bar-mobile($theme) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        position: fixed;

        width: 100%;
        padding: 5px 0 5px 0;

        background-color: mat.get-theme-color($theme, primary) !important;
        z-index: 1050;
    }

    #main-page-outlet {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #sub-page-outlet {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    
}

@mixin mat-card-styles($theme) {
    mat-card {
        height: auto;
        width: 95%;
        max-width: 385px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: 50% 50%;
        }

        mat-card-content {
            margin-bottom: 10px;
        }

        mat-card-actions {
            display: flex;
            gap: 5px;
        }
    }

    post-widget {
        height: auto;
        width: 95%;
        max-width: 385px;
        flex-shrink: 0;

        mat-card {
            height: 100%;
            width: 100%;
        }

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: 50% 50%;
            border-top-left-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
            border-top-right-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
        }

        p {
            height: 8rem;
        }

        mat-card-actions {
            display: flex;
            gap: 5px;
        }
    }

    .feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@mixin mat-dialog-styles($theme) {
    .dialog {
        h2 {
            text-align: center;
        }
        
        mat-form-field {
            margin-top: 5px;
            width: 100%;
        }
    }

    .cdk-overlay-container {
        z-index: 1100;
    }
}

@mixin apply-styles($theme) {
    @include nav-bar-mobile($theme);
    @include mat-card-styles($theme);
    @include mat-dialog-styles($theme);
}

html {
    @include mat.all-component-themes(mm-theme.$dark-theme);
    @include apply-styles(mm-theme.$dark-theme);

    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors(mm-theme.$light-theme);
        @include apply-styles(mm-theme.$light-theme);
    }
}