@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use '@angular/material' as mat;

@function _estimate-hue($hues, $hue, $prev-hue, $next-hue) {
    $weight: math.div($next-hue - $hue, $next-hue - $prev-hue) * 100%;
    @return color.mix(map.get($hues, $prev-hue), map.get($hues, $next-hue), $weight);
}

$_neutral_hues: (
    0: #000000,
    10: #1B1B1E,
    20: #303033,
    25: #3B3B3E,
    30: #464649,
    35: #525255,
    40: #5E5E61,
    50: #77777A,
    60: #919093,
    70: #ACABAE,
    80: #C7C6C9,
    90: #E3E2E5,
    95: #F2F0F3,
    98: #FAF9FC,
    99: #FDFBFF,
    100: #FFFFFF
);

$_palettes: (
    primary: (0: #000000,
        10: #001B3E,
        20: #002F64,
        25: #033A77,
        30: #194683,
        35: #285290,
        40: #365E9D,
        50: #5177B8,
        60: #6B91D3,
        70: #86ACF0,
        80: #AAC7FF,
        90: #D6E3FF,
        95: #ECF0FF,
        98: #F9F9FF,
        99: #FDFBFF,
        100: #FFFFFF),
    secondary: (0: #000000,
        10: #141C29,
        20: #29313F,
        25: #343C4A,
        30: #3F4756,
        35: #4B5362,
        40: #575E6F,
        50: #707788,
        60: #8991A2,
        70: #A4ABBD,
        80: #BFC6D9,
        90: #DBE2F6,
        95: #ECF0FF,
        98: #F9F9FF,
        99: #FDFBFF,
        100: #FFFFFF),
    tertiary: (0: #000000,
        10: #27142C,
        20: #3D2942,
        25: #49344D,
        30: #553F59,
        35: #614B65,
        40: #6E5772,
        50: #886F8B,
        60: #A288A6,
        70: #BEA2C1,
        80: #DABDDD,
        90: #F7D9FA,
        95: #FFEBFE,
        98: #FFF7FB,
        99: #FFFBFF,
        100: #FFFFFF),
    neutral: (0: #000000,
        10: #1B1B1E,
        20: #303033,
        25: #3B3B3E,
        30: #464649,
        35: #525255,
        40: #5E5E61,
        50: #77777A,
        60: #919093,
        70: #ACABAE,
        80: #C7C6C9,
        90: #E3E2E5,
        95: #F2F0F3,
        98: #FAF9FC,
        99: #FDFBFF,
        100: #FFFFFF,
        4: _estimate-hue($_neutral_hues, 4, 0, 10),
        6: _estimate-hue($_neutral_hues, 6, 0, 10),
        12: _estimate-hue($_neutral_hues, 12, 10, 20),
        17: _estimate-hue($_neutral_hues, 17, 10, 20),
        22: _estimate-hue($_neutral_hues, 22, 20, 30),
        24: _estimate-hue($_neutral_hues, 24, 20, 30),
        87: _estimate-hue($_neutral_hues, 87, 80, 90),
        92: #ece6f0,
        94: #F3EDF7,
        96: _estimate-hue($_neutral_hues, 96, 90, 100)),
    neutral-variant: (0: #000000,
        10: #191C22,
        20: #2E3037,
        25: #393B42,
        30: #44474D,
        35: #505259,
        40: #5C5E65,
        50: #75777E,
        60: #8E9098,
        70: #A9ABB3,
        80: #C5C6CE,
        90: #E1E2EA,
        95: #EFF0F9,
        98: #F9F9FF,
        99: #FDFBFF,
        100: #FFFFFF),
    error: (0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
);

$_rest: (
    secondary: map.get($_palettes, secondary),
    neutral: map.get($_palettes, neutral),
    neutral-variant: map.get($_palettes, neutral-variant),
    error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((color: (theme-type: light,
                primary: $_primary,
                tertiary: $_tertiary )));
$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: $_primary,
                tertiary: $_tertiary )));