<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3>Username</h3>
        <p>filler</p>
        <h3>Password</h3>
        <p>filler</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button>
            <mat-icon>logout</mat-icon>
            Logout
        </button>
        <button mat-flat-button>
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button mat-flat-button>
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </mat-card-actions>
</mat-card>