<div class="dialog">
    <h2 mat-dialog-title>Create Post</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Caption</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <label for="image-upload">Upload a cat Image:</label><br>
        <input type="file" id="image-upload">
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>